.login-main-input {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    background-color: #f3f4f6;
    border: none;
    border-radius: 0.5rem;

    &:focus {
      outline: 1px solid #2e6cec;
    }
  }
}
