<div class="not-found-container">
    <h2 class="not-found-title">Page Not Found</h2>
    <p class="not-found-message">The requested page could not be found.</p>
    <a class="not-found-link" routerLink="/">Go to Home</a>
  </div>
  