:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .not-found-container {
    text-align: center;
  }
  
  .not-found-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .not-found-message {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .not-found-link {
    font-size: 16px;
    text-decoration: none;
    color: blue;
  }
  
  .not-found-link:hover {
    text-decoration: underline;
  }
  