<app-ui-header>
  <div>
    <p class="reports-text">Reports & Summaries</p>
  </div>

  <div (click)="openModal(template)">
    <button class="generate-button">Generate a Report</button>
  </div>
</app-ui-header>

<div class="wrapper">
  <ng-container *ngIf="!loadingState.reports; else loadingTemplate">
    <ng-container *ngIf="reportsOptions$ | async as reportsOptions">
      <app-ui-table
        [rowData]="reportsOptions.data.tableData"
        [colDefs]="reportsColumnData"
      ></app-ui-table>
    </ng-container>
  </ng-container>
  <ng-template #loadingTemplate>
    <app-ui-loader></app-ui-loader>
  </ng-template>
</div>

<ng-template #template>
  <div class="modal-body">
    <div>
      <p>Generate A Report</p>
    </div>

    <div>
      <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
        <label>Report Name</label>
        <app-ui-form-input
          label="Report Name"
          formControlName="name"
          placeholder="Enter your report name"
          type="text"
        ></app-ui-form-input>
        <div
          class="error-message"
          *ngIf="
            reportForm.get('name')?.errors &&
            (reportForm.get('name')?.dirty || reportForm.get('name')?.touched)
          "
        >
          <div
            class="error-message"
            *ngIf="reportForm.get('name')?.errors?.['required']"
          >
            Report Name is required
          </div>
          <div
            class="error-message"
            *ngIf="reportForm.get('name')?.errors?.['noWhitespaceValidator']"
          >
            Report Name cannot contain only whitespace
          </div>
        </div>

        <div class="modal-body-input" *ngIf="tenants$ | async as tenants">
          <label>Select Tenant Target</label>
          <p-dropdown
            styleClass="modal-dropdown"
            [options]="tenants"
            formControlName="tenant"
            optionLabel="label"
            placeholder="Select Tenant"
          ></p-dropdown>
          <div
            class="error-message"
            *ngIf="reportForm.get('tenant')?.errors && (reportForm.get('tenant')?.dirty || reportForm.get('tenant')?.touched)"
          >
            Tenant is required
          </div>
        </div>

        <div class="modal-body-input">
          <label>Select Report Type</label>

          <p-dropdown
            [options]="moduleType"
            formControlName="moduleType"
            optionLabel="label"
            placeholder="Select Module Type"
          ></p-dropdown>
          <div
            class="error-message"
            *ngIf="reportForm.get('moduleType')?.errors && (reportForm.get('moduleType')?.dirty || reportForm.get('moduleType')?.touched)"
          >
            Module Type is required
          </div>
        </div>

        <div class="modal-body-month">
          <div>
            <label>Start Month</label>
            <p-calendar formControlName="startMonth" view="month"></p-calendar>
            <div
              class="error-message"
              *ngIf="reportForm.get('startMonth')?.errors && (reportForm.get('startMonth')?.dirty || reportForm.get('startMonth')?.touched)"
            >
              Start month is required
            </div>
          </div>

          <div>
            <label>End Month</label>
            <p-calendar formControlName="endMonth" view="month"></p-calendar>
            <div
              class="error-message"
              *ngIf="reportForm.get('endMonth')?.errors && (reportForm.get('endMonth')?.dirty || reportForm.get('endMonth')?.touched)"
            >
              End month is required
            </div>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!reportForm.valid || isGeneratingReport"
          class="modal-button"
        >
          GENERATE REPORT
        </button>
      </form>
    </div>
  </div>
</ng-template>
