@import "../../common/mixins.scss";

app-ui-main-metric-wrapper {
  app-ui-metric-wrapper {
    display: flex;
    app-ui-table {
    }
  }
}



.wrapper {
  height: calc(100vh - var(--metrics-wrapper-width)) !important;
  overflow: auto;
}

.reports-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.generate-button {
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #1a56db;
  color: #fff;
  font-weight: 600;
}

form > label {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #1a56db;
  color: #fff;
  font-weight: 600;

  &:disabled {
    background-color: #568eef;
    cursor: not-allowed;
  }
}

.modal-body {
  > div > p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.modal-body-month {
  @include flexBoxRow;
  width: 100%;
  margin: 1rem 0rem;
   ::ng-deep .p-calendar {
    margin: 0.5rem 1rem 0.5rem 0rem;
  }
}

.modal-body-input {
  @include flexBoxColumn;
  label {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0.5rem 0rem;
  }
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

p-dropdown-items-wrapper {
  width: 100%;
}

.error-message {
  color: red;
  margin: 0.3rem 0rem;
}
