.navbar-main {
  height: 4rem;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0rem 0.7rem 0rem 0.7rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;


  .logoImage {
    height: 25px;
    width: 25px;
    margin-top: -0.3rem;
    margin-left: 0.5rem;
  }

  .avatarImage {
    height: 40px;
    width: 40px;
    margin-right: -2rem;
    cursor: pointer;
  }

  .nav-item {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .navbarcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: #000;
  }

  .leftnavbar,
  .rightnavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rightnavbar {
    gap: 20px;
    padding-right: 1rem;
  }

  .profileicon {
    color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .logoutbutton {
    color: white;
    cursor: pointer;
  }

  .logindropdowm {
    padding-right: 1.5rem;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
  }

  .nav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .nav-user-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 667px) {
    .leftnavbar,
    .rightnavbar,
    .navbarcontent {
      flex-direction: column;
      align-items: flex-start;
    }

    .leftnavbar,
    .rightnavbar {
      margin-top: 0.15rem;
      font-size: 1rem;
    }

    .nav-item {
      padding-left: 10px;
    }

    .profile,
    .logindropdowm {
      margin-left: 0rem;
    }
  }

  @media (max-width: 400px) {
    .leftnavbar,
    .rightnavbar,
    .navbarcontent {
      flex-direction: column;
      align-items: flex-start;
    }

    .leftnavbar,
    .rightnavbar {
      margin-top: 0.15rem;
    }

    .nav-item {
      padding-left: 10px;
    }

    .profile,
    .logindropdowm {
      margin-left: 0rem;
    }
  }
}
