<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-main">
  <div class="container-fluid">
    <a routerLink="/metrics/dashboard" class="navbar-brand">
      <img src="assets/logo.png" alt="darwin-logo" class="logoImage" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarcontent">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link active" [routerLink]="[item.route]">{{ item.label }}</a>
        </li>
      </ul>

      <div class="rightnavbar "> 
        <div class="dropdown">
          <div class="btn-group" dropdown>
            <p id="button-custom-html" dropdownToggle aria-controls="dropdown-custom-html" class="nav-dropdown">
              <img src="assets/avatar.png" alt="avatar" class="avatarImage" />
            </p>
            <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="button-custom-html"> 
              <p class="nav-user">Hey {{ userId }} 👋</p>
              <li class="divider dropdown-divider"></li>

              <li role="menuitem" (click)="onLogout()">
                <a class="nav-user-logout" >Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
