@mixin flexBoxRow {
  display: flex;
  flex-direction: row;
}

@mixin flexBoxColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexBoxCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBoxRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexBoxColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
