<div class="card-wrapper">
  <div class="card-color-wrapper"></div>
  <div class="card-content">
    <ng-container *ngIf="isLoading; else content">
      <app-ui-loader></app-ui-loader>
    </ng-container>
    <ng-template #content>
      <p>{{ name }}</p>
      <p>
        {{ total$ | async }}
        <span>
          {{
            (percentage$ | async) && ((percentage$ | async) || 0) >= 0
              ? "+" 
              : ""
          }}{{ (percentage$ | async) ? (percentage$ | async) + '%' : '' }}
        </span>
      </p>
    </ng-template>
  </div>
</div>
