.card-wrapper {
  position: relative;
  padding: 0.5rem;

  .card-color-wrapper {
    background-color: var(--card-color);
    height: 0.25rem;
    width: auto;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--text-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0rem 1rem;
    margin: 0.5rem 0rem 0rem 0rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    p:nth-child(1) {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0rem;
      margin-top: 0rem;
    }

    p:nth-child(2) {
      font-size: 2rem;
      font-weight: 700;
      color: #000;
      display: flex;
      align-items: center;

      span {
        padding: 0.2rem;
        background-color: var(--change-background-color);
        border-radius: 0.5rem;
        font-size: 1rem;
        opacity: 1;
        border-radius: 0.5rem;
        padding: 0.4rem;
        margin: 0 0.75rem;
        font-weight: 700;  
        color: var(--change-color);
      }
    }
  }
}
