<div class="metric-wrapper">
  <div class="metric-wrapper-header">
    <div class="metric-wrapper-header-title">
      <p>{{ title }}</p>
    </div>
    <div class="metric-wrapper-icons">
      <!-- <i class="pi pi-external-link"></i> -->
      <i *ngIf="chartType" class="pi pi-chart-line" (click)="onChangeChartType()" appHover></i>
      <!-- <i class="pi pi-download"></i> -->
    </div>
  </div>

  <hr class="metric-horizontal-line" />

  <div class="metric-wrapper-chart">
    <ng-container *ngIf="!isLoading; else loaderContent">
      <ng-content></ng-content>
    </ng-container>
    <ng-template #loaderContent>
      <app-ui-loader></app-ui-loader>
    </ng-template>
  </div>
</div>
