  @import "../../common/mixins.scss";

.metric-wrapper {
  border: 1px solid var(--dark-gray);
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.5rem;

  .metric-wrapper-header-title {
    @include flexBoxCenter;
    p {
      margin: 0.5rem 1rem 0.5rem 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .metric-wrapper-chart {
    height: 18rem;
    margin: 1rem;
  }

  .metric-horizontal-line {
    border: 1px solid var(--horizontal);
    margin: 0rem;
  }

  .metric-wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .metric-wrapper-icons {
    @include flexBoxCenter;
    i {
      margin: 0.5rem 1rem 0.5rem 0.5rem;
      cursor: pointer;
    }
  }
  app-ui-loader {
    @include flexBoxCenter;
  }
}
