<app-ui-header>
  <div class="dropdown-container">
    <div *ngIf="tenants$ | async as tenants">
      <p-dropdown
        [options]="tenants"
        [(ngModel)]="selectedTenant"
        optionLabel="label"
        [virtualScroll]="true"
        [virtualScrollItemSize]="30"
        (onChange)="onTenantChange($event.value.value)"
      ></p-dropdown>
    </div>

    <div *ngIf="modules$ | async as modules">
      <p-dropdown
        [options]="modules"
        [(ngModel)]="selectedModule"
        optionLabel="label"
        [virtualScroll]="true"
        [virtualScrollItemSize]="30"
        (onChange)="onModuleChange($event.value.value)"
      ></p-dropdown>
    </div>
  </div>

  <div>
    <p-dropdown
      [options]="time"
      [(ngModel)]="selectedTime"
      optionLabel="label"
      (onChange)="onTimeChange($event.value.value)"
    ></p-dropdown>
  </div>
</app-ui-header>
<div class="wrapper">
  <app-ui-card-wrapper>
    <app-ui-card
      cardColor="#5fa16e"
      name="Total Page Visits"
      textColor="#fff"
      [changeColor]="
        (totalViewsPercentage$ | async) &&
        ((totalViewsPercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (totalViewsPercentage$ | async) &&
        ((totalViewsPercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.views"
      [total$]="totalViews$"
      [percentage$]="totalViewsPercentage$"
    >
    </app-ui-card>

    <app-ui-card
      name="Total Unique Users"
      [cardColor]="'#3f83f8'"
      textColor="#fff"
      [changeColor]="
        (totalUsersPercentage$ | async) &&
        ((totalUsersPercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (totalUsersPercentage$ | async) &&
        ((totalUsersPercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.users"
      [total$]="totalUsers$"
      [percentage$]="totalUsersPercentage$"
    >
    </app-ui-card>

    <app-ui-card
      name="Average Load Time"
      [cardColor]="'#c27803'"
      textColor="#fff"
      [changeColor]="
        (loadTimePercentage$ | async) &&
        ((loadTimePercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (loadTimePercentage$ | async) &&
        ((loadTimePercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.avgTime"
      [total$]="averageLoadTime$"
      [percentage$]="loadTimePercentage$"
    >
    </app-ui-card>

    <app-ui-card
      name="Average User Session Time"
      [cardColor]="'#dd4d52'"
      textColor="#fff"
      [changeColor]="
        (usersSessionPercentage$ | async) &&
        ((usersSessionPercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (usersSessionPercentage$ | async) &&
        ((usersSessionPercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.session"
      [total$]="usersSessionTime$"
      [percentage$]="usersSessionPercentage$"
    >
    </app-ui-card>
  </app-ui-card-wrapper>

  <app-ui-main-metric-wrapper>
    <app-ui-metric-wrapper
      title="Page Visits"
      [style.width]="'50%'"
      [isLoading]="loadingState.visitsTrends"
      (changeChartType)="handleChartType('visits')"
      [chartType]="true"
    >
      <ng-container *ngIf="visitsOptions$ | async as visitsOptions">
        <ng-container *ngIf="visitsChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="visits"
            yName="Page Visits"
            [data]="visitsOptions.data.clickTrends"
            *ngIf="visitsOptions.data && visitsOptions.data.clickTrends"
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!visitsChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="visits"
            yName="Page Visits"
            [data]="visitsOptions.data.clickTrends"
            *ngIf="visitsOptions.data && visitsOptions.data.clickTrends"
          ></app-ui-area-chart>
        </ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Unique Users Trends"
      [style.width]="'50%'"
      [isLoading]="loadingState.uniqueUsersTrends"
      (changeChartType)="handleChartType('uniqueUsers')"
      [chartType]="true"
    >
      <ng-container *ngIf="uniqueUsersOptions$ | async as uniqueUsersOptions">
        <ng-container *ngIf="uniqueUsersChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="activeUsers"
            yName="Unique Users"
            [data]="uniqueUsersOptions.data.userTrends"
            *ngIf="
              uniqueUsersOptions.data && uniqueUsersOptions.data.userTrends
            "
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!uniqueUsersChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="activeUsers"
            yName="Unique Users"
            [data]="uniqueUsersOptions.data.userTrends"
            *ngIf="
              uniqueUsersOptions.data && uniqueUsersOptions.data.userTrends
            "
          ></app-ui-area-chart
        ></ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Page Load Times"
      [style.width]="'50%'"
      [isLoading]="loadingState.loadTimeTrends"
      (changeChartType)="handleChartType('loadTime')"
      [chartType]="true"
    >
      <ng-container *ngIf="loadTimeOptions$ | async as loadTimeOptions">
        <ng-container *ngIf="loadTimeChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="avgPerformance"
            yName="Load Time"
            [data]="loadTimeOptions.data.performanceTrends"
            *ngIf="
              loadTimeOptions.data && loadTimeOptions.data.performanceTrends
            "
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!loadTimeChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="avgPerformance"
            yName="Load Time"
            [data]="loadTimeOptions.data.performanceTrends"
            *ngIf="
              loadTimeOptions.data && loadTimeOptions.data.performanceTrends
            "
          ></app-ui-area-chart
        ></ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="User Session Trends"
      [style.width]="'50%'"
      [isLoading]="loadingState.sessionTimeTrends"
      (changeChartType)="handleChartType('sessionTime')"
      [chartType]="true"
    >
      <ng-container *ngIf="sessionTimeOptions$ | async as sessionTimeOptions">
        <ng-container *ngIf="sessionTimeChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="sessionTime"
            yName="Session Time"
            [data]="sessionTimeOptions.data.moduleSessionTrends"
            *ngIf="
              sessionTimeOptions.data &&
              sessionTimeOptions.data.moduleSessionTrends
            "
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!sessionTimeChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="sessionTime"
            yName="Session Time"
            [data]="sessionTimeOptions.data.moduleSessionTrends"
            *ngIf="
              sessionTimeOptions.data &&
              sessionTimeOptions.data.moduleSessionTrends
            "
          ></app-ui-area-chart
        ></ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="OS Platform Distribution"
      [style.width]="'50%'"
      [isLoading]="loadingState.platformTrends"
      [chartType]="false"
    >
      <ng-container *ngIf="platformOptions$ | async as platformOptions">
        <app-ui-pie-chart
          angle="count"
          legend="platform"
          [data]="platformOptions.data.result"
          *ngIf="platformOptions.data && platformOptions.data.result"
        ></app-ui-pie-chart>
      </ng-container>

      <app-ui-pie-chart> </app-ui-pie-chart>
    </app-ui-metric-wrapper>

    <!-- <app-ui-metric-wrapper
        title="Module-wise Session Time Breakdown"
        [style.width]="'50%'"
        [isLoading]="loadingState.moduleSessionTrends"
        [chartType]="false"
      >
        <ng-container
          *ngIf="moduleSessionOptions$ | async as moduleSessionOptions"
        >
          <app-ui-table></app-ui-table>
        </ng-container>
      </app-ui-metric-wrapper> -->
  </app-ui-main-metric-wrapper>
</div>

`
