<app-ui-header>
  <div *ngIf="tenants$ | async as tenants">
    <p-dropdown
      [options]="tenants"
      [(ngModel)]="selectedTenant"
      optionLabel="label"
      [virtualScroll]="true"
      [virtualScrollItemSize]="30"
      (onChange)="onTenantChange($event.value.value)"
    ></p-dropdown>
  </div>

  <div>
    <p-dropdown
      [options]="time"
      [(ngModel)]="selectedTime"
      optionLabel="label"
      (onChange)="onTimeChange($event.value.value)"
    ></p-dropdown>
  </div>
</app-ui-header>
<div class="wrapper">
  <app-ui-card-wrapper>
    <app-ui-card
      cardColor="#5fa16e"
      name="Total Page Visits"
      textColor="#fff"
      [changeColor]="
        (totalViewsPercentage$ | async) &&
        ((totalViewsPercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (totalViewsPercentage$ | async) &&
        ((totalViewsPercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.views"
      [total$]="totalViews$"
      [percentage$]="totalViewsPercentage$"
    >
    </app-ui-card>

    <app-ui-card
      name="Total Unique Users"
      [cardColor]="'#3f83f8'"
      textColor="#fff"
      [changeColor]="
        (totalUsersPercentage$ | async) &&
        ((totalUsersPercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (totalUsersPercentage$ | async) &&
        ((totalUsersPercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.users"
      [total$]="totalUsers$"
      [percentage$]="totalUsersPercentage$"
    >
    </app-ui-card>

    <app-ui-card
      [name]="'Most Visited Module: ' + (mostUsedModule$ | async)"
      [cardColor]="'#c27803'"
      [textColor]="'#fff'"
      [isLoading]="loadingState.mostUsedModule"
      [total$]="mostUsedModuleViews$"
    ></app-ui-card>

    <app-ui-card
      [name]="'Total Unique Users in ' + (uniqueUsersInMostUsedModule$ | async)"
      [cardColor]="'#dd4d52'"
      textColor="#fff"
      [isLoading]="loadingState.uniqueUsersInMostVisitedModule"
      [total$]="uniqueUsersInMostUsedModuleCount$"
    >
    </app-ui-card>
  </app-ui-card-wrapper>

  <app-ui-main-metric-wrapper>
    <app-ui-metric-wrapper
      title="Page Visits"
      [style.width]="'50%'"
      [isLoading]="loadingState.visitsTrends"
      (changeChartType)="handleChartType('visits')"
      [chartType]="true"
    >
      <ng-container *ngIf="visitsOptions$ | async as visitsOptions">
        <ng-container *ngIf="visitsChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="views"
            yName="Page Visits"
            [data]="visitsOptions.data.clickTrends"
            *ngIf="visitsOptions.data && visitsOptions.data.clickTrends"
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!visitsChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="views"
            yName="Page Visits"
            [data]="visitsOptions.data.clickTrends"
            *ngIf="visitsOptions.data && visitsOptions.data.clickTrends"
          ></app-ui-area-chart>
        </ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="OS Platform Distribution"
      [style.width]="'50%'"
      [isLoading]="loadingState.platformTrends"
      [chartType]="false"
    >
      <ng-container *ngIf="platformOptions$ | async as platformOptions">
        <app-ui-pie-chart
          angle="count"
          legend="platform"
          [data]="platformOptions.data.result"
          *ngIf="platformOptions.data && platformOptions.data.result"
        ></app-ui-pie-chart>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Page Visits per Module"
      [style.width]="'100%'"
      [isLoading]="loadingState.moduleTrends"
      [chartType]="false"
    >
      <ng-container *ngIf="moduleTrendsOptions$ | async as moduleOptions">
        <app-ui-bar-chart
          xKey="route"
          yKey="views"
          yName="Module Wise Page Visits"
          [data]="moduleOptions.data.visitedModules"
          *ngIf="moduleOptions.data && moduleOptions.data.visitedModules"
        ></app-ui-bar-chart>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Module-wise Page Visits Breakdown"
      [style.width]="'50%'"
      [isLoading]="loadingState.moduleTrends"
      [chartType]="false"
    >
      <ng-container *ngIf="moduleTrendsOptions$ | async as moduleOptions">
        <app-ui-pie-chart
          angle="views"
          legend="route"
          [data]="moduleOptions.data.visitedModules"
          *ngIf="moduleOptions.data && moduleOptions.data.visitedModules"
        ></app-ui-pie-chart>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Top Users (based on Page Visits)"
      [style.width]="'50%'"
      [isLoading]="loadingState.userTrends"
      [chartType]="false"
    >
      <ng-container *ngIf="userTrendsOptions$ | async as userTrendsOptions">
        <app-ui-table
          [rowData]="userTrendsOptions.data.visitedUsers"
          [colDefs]="userColumnData"
        ></app-ui-table>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Page Visits per Route"
      [style.width]="'100%'"
      [isLoading]="loadingState.moduleDetailsTrends"
      [chartType]="false"
    >
      <ng-container
        *ngIf="
          moduleDetailsTrendsOptions$ | async as moduleDetailsTrendsOptions
        "
      >
        <app-ui-table
          [rowData]="moduleDetailsTrendsOptions.data.moduleDetailedMetrics"
          [colDefs]="moduleColumnData"
        ></app-ui-table>
      </ng-container>
    </app-ui-metric-wrapper>
  </app-ui-main-metric-wrapper>
</div>

`
