.metrics-container{
    background-color: var(--gray);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.router-wrapper{
    overflow: scroll;
    margin: var(--metrics-margin);
    background-color: var(--metrics-background-color);
    border-radius: var(--metrics-border-radius);
}   