<div class="metrics-container">
  <app-ui-navbar [userId]="userId!" (logout)="onLogout()"></app-ui-navbar>
  <div class="router-wrapper">
    <app-ui-main-wrapper>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </app-ui-main-wrapper>
  </div>
</div>
