<app-ui-header>
  <div *ngIf="tenants$ | async as tenants">
    <p-multiSelect
      [options]="tenants"
      [(ngModel)]="selectedTenant"
      defaultLabel="Select a tenant"
      optionLabel="label"
      display="chip"
      [maxSelectedLabels]="2"
      [selectedItemsLabel]="'{0} items selected'"
      (onChange)="onTenantChange($event.itemValue.value)"
    ></p-multiSelect>
  </div>

  <div>
    <p-dropdown
      [options]="time"
      [(ngModel)]="selectedTime"
      optionLabel="label"
      (onChange)="onTimeChange($event.value.value)"
    ></p-dropdown>
  </div>
</app-ui-header>
<div class="wrapper">
  <app-ui-main-metric-wrapper>
    <app-ui-metric-wrapper
      title="Page Visits Trends"
      [style.width]="'100%'"
      [isLoading]="loadingState.visitsTrends"
      (changeChartType)="handleChartType('visits')"
      [chartType]="true"
    >
      <ng-container *ngIf="visitsOptions$ | async as visitsOptions">
        <ng-container *ngIf="visitsChartType">
          <app-ui-compare-line-chart
            xKey="date"
            [yKeys]="yKeys"
            [yNames]="yNames"
            [data]="visitsOptions.data.clickTrends"
          ></app-ui-compare-line-chart>
        </ng-container>
        <ng-container *ngIf="!visitsChartType">
          <app-ui-compare-area-chart
          xKey="date"
          [yKeys]="yKeys"
          [yNames]="yNames"
          [data]="visitsOptions.data.clickTrends"
          ></app-ui-compare-area-chart>
        </ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Session Trends"
      [style.width]="'100%'"
      [isLoading]="loadingState.sessionTrends"
      (changeChartType)="handleChartType('session')"
      [chartType]="true"
    >
      <ng-container *ngIf="sessionOptions$ | async as sessionOptions">
        <ng-container *ngIf="sessionChartType">
          <app-ui-compare-line-chart
            xKey="date"
            [yKeys]="yKeys"
            [yNames]="yNames"
            [data]="sessionOptions.data.sessionTrends"
          ></app-ui-compare-line-chart>
        </ng-container>
        <ng-container *ngIf="!sessionChartType">
          <app-ui-compare-area-chart
          xKey="date"
          [yKeys]="yKeys"
          [yNames]="yNames"
          [data]="sessionOptions.data.sessionTrends"
          ></app-ui-compare-area-chart>
        </ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <!-- <app-ui-metric-wrapper
        title="Page Load Times"
        [style.width]="'50%'"
        [isLoading]="loadingState.loadTimeTrends"
        (changeChartType)="handleChartType('loadTime')"
        [chartType]="true"
      >
        <ng-container *ngIf="loadTimeOptions$ | async as loadTimeOptions">
          <ng-container *ngIf="loadTimeChartType">
            <app-ui-line-chart
              xKey="date"
              yKey="avgPerformance"
              yName="Load Time"
              [data]="loadTimeOptions.data.performanceTrends"
              *ngIf="
                loadTimeOptions.data && loadTimeOptions.data.performanceTrends
              "
            ></app-ui-line-chart>
          </ng-container>
          <ng-container *ngIf="!loadTimeChartType">
            <app-ui-area-chart
              xKey="date"
              yKey="avgPerformance"
              yName="Load Time"
              [data]="loadTimeOptions.data.performanceTrends"
              *ngIf="
                loadTimeOptions.data && loadTimeOptions.data.performanceTrends
              "
            ></app-ui-area-chart
          ></ng-container>
        </ng-container>
      </app-ui-metric-wrapper> -->
  </app-ui-main-metric-wrapper>
</div>
`
