@import "../../common/mixins.scss";

app-ui-main-metric-wrapper {
  app-ui-metric-wrapper {
    display: flex;
    app-ui-table {
    }
  }
}



.wrapper {
  height: calc(100vh - var(--metrics-wrapper-width)) !important;
  overflow: auto;
}
