@import "../../common/mixins.scss";

app-ui-card-wrapper {
  $num-cards: #{length("app-ui-card")};
  app-ui-card {
    flex: 1;
    min-width: 0;
    max-width: calc(100% / #{$num-cards} - var(--metrics-card-margin));
    app-ui-loader {
      @include flexBoxCenter;
    }
  }
}

:host ::ng-deep .p-dropdown {
  width: var(--metrics-dropdown-width);
}

app-ui-main-metric-wrapper {
  app-ui-metric-wrapper {
    display: flex;
  }
}

.wrapper {
  height: calc(100vh - var(--metrics-wrapper-width)) !important;
  overflow: auto;
}
