<app-ui-header>
  <div *ngIf="tenants$ | async as tenants">
    <p-dropdown
      [options]="tenants"
      [(ngModel)]="selectedTenant"
      optionLabel="label"
      [virtualScroll]="true"
      [virtualScrollItemSize]="30"
      (onChange)="onTenantChange($event.value.value)"
    ></p-dropdown>
  </div>

  <div>
    <p-dropdown
      [options]="time"
      [(ngModel)]="selectedTime"
      optionLabel="label"
      (onChange)="onTimeChange($event.value.value)"
    ></p-dropdown>
  </div>
</app-ui-header>
<div class="wrapper">
  <app-ui-card-wrapper>
    <app-ui-card
      cardColor="#5fa16e"
      name="Average Load Time: All Modules"
      textColor="#fff"
      [changeColor]="
        (avgLoadTimePercentage$ | async) &&
        ((avgLoadTimePercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (avgLoadTimePercentage$ | async) &&
        ((avgLoadTimePercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.avgLoadTime"
      [total$]="avgLoadTime$"
      [percentage$]="avgLoadTimePercentage$"
    >
    </app-ui-card>

    <app-ui-card
      [name]="'Best Avg Load Time: ' + (bestModule$ | async)"
      [cardColor]="'#c27803'"
      [textColor]="'#fff'"
      [isLoading]="loadingState.bestModule"
      [total$]="bestModuleLoadTime$"
    >
    </app-ui-card>

    <app-ui-card
      [name]="'Worst Avg Load Time: ' + (worstModule$ | async)"
      [cardColor]="'#c27803'"
      [textColor]="'#fff'"
      [isLoading]="loadingState.worstModule"
      [total$]="worstModuleLoadTime$"
    ></app-ui-card>
  </app-ui-card-wrapper>

  <app-ui-main-metric-wrapper>
    <app-ui-metric-wrapper
      title="Load Time Trends"
      [style.width]="'50%'"
      [isLoading]="loadingState.loadTimeTrends"
      (changeChartType)="handleChartType('avgLoadTime')"
      [chartType]="true"
    >
      <ng-container *ngIf="loadTimeOptions$ | async as visitsOptions">
        <ng-container *ngIf="loadChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="avgPerformance"
            yName="Load Time Trends"
            [data]="visitsOptions.data.performanceTrends"
            *ngIf="visitsOptions.data && visitsOptions.data.performanceTrends"
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!loadChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="avgPerformance"
            yName="Load Time Trends"
            [data]="visitsOptions.data.performanceTrends"
            *ngIf="visitsOptions.data && visitsOptions.data.performanceTrends"
          ></app-ui-area-chart>
        </ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Page Visits vs Page Load Time"
      [style.width]="'50%'"
      [isLoading]="loadingState.moduleClickPerformanceTrends"
      [chartType]="false"
    >
      <ng-container
        *ngIf="clickPerformanceOptions$ | async as clickPerformanceOptions"
      >
        <app-ui-compare-bar-chart
          xKey1="date"
          yKey1="views"
          yName1="Page Visits"
          xKey2="date"
          yKey2="avgPerformance"
          yName2="Load Time"
          [data]="clickPerformanceOptions.data.clickPerformanceTrends"
          *ngIf="
            clickPerformanceOptions.data &&
            clickPerformanceOptions.data.clickPerformanceTrends
          "
        ></app-ui-compare-bar-chart>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Comparison of Page Visits & Load Time"
      [style.width]="'100%'"
      [isLoading]="loadingState.moduleClickPerformanceTrends"
      [chartType]="false"
    >
      <ng-container
        *ngIf="clickPerformanceOptions$ | async as clickPerformanceOptions"
      >
        <app-ui-table
          [rowData]="clickPerformanceOptions.data.clickPerformanceTrends"
          [colDefs]="clickPerformanceData"
        ></app-ui-table>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Average Load Time per Module"
      [style.width]="'100%'"
      [isLoading]="loadingState.moduleLoadTimeTrends"
      [chartType]="false"
    >
      <ng-container
        *ngIf="moduleLoadTimeOptions$ | async as moduleLoadTimeOptions"
      >
        <app-ui-bar-chart
          xKey="Module"
          yKey="Average Load Time"
          yName="Average Load Time"
          [data]="moduleLoadTimeOptions.data.moduleAverageLoadTime"
          *ngIf="
            moduleLoadTimeOptions.data &&
            moduleLoadTimeOptions.data.moduleAverageLoadTime
          "
        ></app-ui-bar-chart>
      </ng-container>
    </app-ui-metric-wrapper>

    <!-- <app-ui-metric-wrapper
            title="Module-wise Session Time Breakdown"
            [style.width]="'50%'"
            [isLoading]="loadingState.moduleSessionTrends"
            [chartType]="false"
          >
            <ng-container
              *ngIf="moduleSessionOptions$ | async as moduleSessionOptions"
            >
              <app-ui-table></app-ui-table>
            </ng-container>
          </app-ui-metric-wrapper> -->
  </app-ui-main-metric-wrapper>
</div>

`
