<app-ui-header>
  <div *ngIf="tenants$ | async as tenants">
    <p-dropdown
      [options]="tenants"
      [(ngModel)]="selectedTenant"
      optionLabel="label"
      [virtualScroll]="true"
      [virtualScrollItemSize]="30"
      (onChange)="onTenantChange($event.value.value)"
    ></p-dropdown>
  </div>

  <div>
    <p-dropdown
      [options]="time"
      [(ngModel)]="selectedTime"
      optionLabel="label"
      (onChange)="onTimeChange($event.value.value)"
    ></p-dropdown>
  </div>
</app-ui-header>
<div class="wrapper">
  <app-ui-card-wrapper>
    <app-ui-card
      name="Average User Session Time"
      [cardColor]="'#dd4d52'"
      textColor="#fff"
      [changeColor]="
        (usersSessionPercentage$ | async) &&
        ((usersSessionPercentage$ | async) || 0) > 0
          ? 'rgb(4 120 87)'
          : 'rgb(185 28 28)'
      "
      [changeBackgroundColor]="
        (usersSessionPercentage$ | async) &&
        ((usersSessionPercentage$ | async) || 0) > 0
          ? 'rgba(16, 185, 129, 0.2)'
          : 'rgba(220, 38, 38, 0.15)'
      "
      [isLoading]="loadingState.session"
      [total$]="usersSessionTime$"
      [percentage$]="usersSessionPercentage$"
    >
    </app-ui-card>

    <app-ui-card
      [name]="'Most time was spent on: ' + (highestUsedModule$ | async)"
      [cardColor]="'#c27803'"
      [textColor]="'#fff'"
      [isLoading]="loadingState.highestUsedModule"
      [total$]="highestUsage$"
    >
    </app-ui-card>

    <app-ui-card
      [name]="'Least time was spent on: ' + (lowestUsedModule$ | async)"
      [cardColor]="'#c27803'"
      [textColor]="'#fff'"
      [isLoading]="loadingState.lowestUsedModule"
      [total$]="lowestUsage$"
    ></app-ui-card>
  </app-ui-card-wrapper>

  <app-ui-main-metric-wrapper>
    <app-ui-metric-wrapper
      title="User Session Trends"
      [style.width]="'50%'"
      [isLoading]="loadingState.sessionTimeTrends"
      (changeChartType)="handleChartType('sessionTime')"
      [chartType]="true"
    >
      <ng-container *ngIf="sessionTimeOptions$ | async as sessionTimeOptions">
        <ng-container *ngIf="sessionTimeChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="sessionTime"
            yName="Session Time"
            [data]="sessionTimeOptions.data.sessionTrends"
            *ngIf="
              sessionTimeOptions.data && sessionTimeOptions.data.sessionTrends
            "
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!sessionTimeChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="sessionTime"
            yName="Session Time"
            [data]="sessionTimeOptions.data.sessionTrends"
            *ngIf="
              sessionTimeOptions.data && sessionTimeOptions.data.sessionTrends
            "
          ></app-ui-area-chart
        ></ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Module-wise Session Time Breakdown"
      [style.width]="'50%'"
      [isLoading]="loadingState.moduleSessionTrends"
      [chartType]="false"
    >
      <ng-container
        *ngIf="moduleSessionOptions$ | async as moduleSessionOptions"
      >
        <app-ui-pie-chart
          angle="timeSpentInSecs"
          legend="Module"
          [data]="moduleSessionOptions.data.result"
          *ngIf="moduleSessionOptions.data && moduleSessionOptions.data.result"
        ></app-ui-pie-chart>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="Average Load Time per Module"
      [style.width]="'100%'"
      [isLoading]="loadingState.moduleSessionTrends"
      [chartType]="false"
    >
      <ng-container
        *ngIf="moduleSessionOptions$ | async as moduleSessionOptions"
      >
        <app-ui-bar-chart
          xKey="Module"
          yKey="timeSpentInSecs"
          yName="Average Session Time"
          [data]="moduleSessionOptions.data.result"
          *ngIf="moduleSessionOptions.data && moduleSessionOptions.data.result"
        ></app-ui-bar-chart>
      </ng-container>
    </app-ui-metric-wrapper>
  </app-ui-main-metric-wrapper>
</div>

`
