<app-ui-header>
  <div class="dropdown-container">
    <div *ngIf="tenants$ | async as tenants">
      <p-dropdown
        [options]="tenants"
        [(ngModel)]="selectedTenant"
        optionLabel="label"
        [virtualScroll]="true"
        [virtualScrollItemSize]="30"
        (onChange)="onTenantChange($event.value.value)"
      ></p-dropdown>
    </div>

    <div class="user_input">
      <app-ui-form-input
        class="user_input"
        [(ngModel)]="user"
        placeholder="User ID"
        type="text"
        (input)="onInputChange($event)"
        [appUppercase]="true"
      ></app-ui-form-input>
    </div>
  </div>

  <div>
    <p-dropdown
      [options]="time"
      [(ngModel)]="selectedTime"
      optionLabel="label"
      (onChange)="onTimeChange($event.value.value)"
    ></p-dropdown>
  </div>
</app-ui-header>
<div class="wrapper" *ngIf="showData">
  <app-ui-main-metric-wrapper>
    <app-ui-metric-wrapper
      title="Page Visits"
      [style.width]="'50%'"
      [isLoading]="loadingState.visitsTrends"
      (changeChartType)="handleChartType('visits')"
      [chartType]="true"
    >
      <ng-container *ngIf="visitsOptions$ | async as visitsOptions">
        <ng-container *ngIf="visitsChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="clicks"
            yName="Page Visits"
            [data]="visitsOptions.data.clickTrends"
            *ngIf="visitsOptions.data.clickTrends"
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!visitsChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="clicks"
            yName="Page Visits"
            [data]="visitsOptions.data.clickTrends"
            *ngIf="visitsOptions.data.clickTrends"
          ></app-ui-area-chart>
        </ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="User Session Trends"
      [style.width]="'50%'"
      [isLoading]="loadingState.sessionTrends"
      (changeChartType)="handleChartType('sessionTime')"
      [chartType]="true"
    >
      <ng-container *ngIf="sessionOptions$ | async as sessionTimeOptions">
        <ng-container *ngIf="sessionTimeChartType">
          <app-ui-line-chart
            xKey="date"
            yKey="sessionTime"
            yName="Session Time"
            [data]="sessionTimeOptions.data.sessionTrends"
            *ngIf="sessionTimeOptions && sessionTimeOptions.data.sessionTrends"
          ></app-ui-line-chart>
        </ng-container>
        <ng-container *ngIf="!sessionTimeChartType">
          <app-ui-area-chart
            xKey="date"
            yKey="sessionTime"
            yName="Session Time"
            [data]="sessionTimeOptions.data.sessionTrends"
            *ngIf="sessionTimeOptions.data.sessionTrends"
          ></app-ui-area-chart
        ></ng-container>
      </ng-container>
    </app-ui-metric-wrapper>

    <app-ui-metric-wrapper
      title="User Most Accessed Routes"
      [style.width]="'100%'"
      [isLoading]="loadingState.routesTrends"
      [chartType]="false"
    >
      <ng-container *ngIf="routesOptions$ | async as routesOptions">
        <app-ui-table
          [rowData]="routesOptions.data.tableData"
          [colDefs]="moduleColumnData"
        ></app-ui-table>
      </ng-container>
    </app-ui-metric-wrapper>
  </app-ui-main-metric-wrapper>
</div>
