@import "../../common/mixins.scss";

app-ui-header {
  .dropdown-container {
    div {
      margin-right: 1rem;
    }
    @include flexBoxRow;
  }
}

:host ::ng-deep .p-dropdown {
  width: var(--metrics-dropdown-width);
}

app-ui-main-metric-wrapper {
  app-ui-metric-wrapper {
    display: flex;
  }
}

.wrapper {
  height: calc(100vh - var(--metrics-wrapper-width)) !important;
  overflow: auto;
}

.user_input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  border-radius: 0.2rem;
}
