@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-quartz.css';
@import 'ngx-toastr/toastr';


html {
  --gray: #f2f2f2;
  --dark-gray: #e2e8f0;
  --horizontal: #bfbebe;
  --auth-background-color: #f3f4f6;
  --auth-form-width: 23.5vw;
  --auth-button-color: #3f83f8;
  --auth-button-disabled-color: #568eef;
  --metrics-background-color: #fff;
  --metrics-margin: 5rem 0.7rem 0rem 0.7rem;
  --metrics-border-radius: 0.5rem;
  --metrics-card-margin: 1rem;
  --metrics-wrapper-width: 11.125rem;
  --metrics-dropdown-width: 10rem;
  --metrics-module-dropdown-width: 12rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  background-color: var(--gray);
  overflow: hidden;
}
body {
  margin: 0;
}
