<div class="login-main" *ngIf="authForm">
  <p class="login-main-welcome">Welcome Back!</p>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <ng-container>
      <label>Employee ID</label>
      <app-ui-form-input
        label="Employee ID"
        formControlName="employeeId"
        placeholder="Employee ID"
        type="text"
        [appUppercase]="true"
      ></app-ui-form-input>
      <div
        class="error-message"
        *ngIf="authForm.get('employeeId')?.dirty"
        [ngSwitch]="true"
      >
        <div *ngSwitchCase="authForm.get('employeeId')?.errors?.['required']">
          Employee ID is required
        </div>
        <div
          *ngSwitchCase="authForm.get('employeeId')?.errors?.['noWhitespaceValidator']"
        >
          Employee ID cannot contain only whitespace
        </div>
      </div>
      <label>Password</label>

      <app-ui-form-input
        label="Password"
        formControlName="password"
        placeholder="Password"
        type="password"
      ></app-ui-form-input>
      <div
        class="error-message"
        *ngIf="authForm.get('password')?.dirty"
        [ngSwitch]="true"
      >
        <div *ngSwitchCase="authForm.get('password')?.errors?.['required']">
          Password is required
        </div>
        <div
          *ngSwitchCase="authForm.get('password')?.errors?.['noWhitespaceValidator']"
        >
          Password cannot contain only whitespace
        </div>
        <div *ngSwitchCase="!!authForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters long
        </div>
      </div>
    </ng-container>
    <button type="submit" [disabled]="authForm.invalid">Login</button>
    <p class="login-main-redirect">
      Not on Insights? <span routerLink="/auth/register">Register here</span>
    </p>
  </form>
</div>
