.login-main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: fit-content;
  width: var(--auth-form-width);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
    background-color: var(--auth-button-color);
    color: #fff;
    margin-top: 1.3rem;
    &:disabled {
      background-color: var(--auth-button-disabled-color);
      cursor: not-allowed;
    }
  }

  .login-main-redirect {
    text-align: center;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 0rem;

    span {
      color: #2e6cec;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .login-main-welcome {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}

form > label {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem 0rem;
}
