<div class="login-main">
  <p class="login-main-welcome">Welcome to Insights!</p>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="authForm">
      <label>Employee ID</label>

      <app-ui-form-input
        label="Employee ID"
        formControlName="employeeId"
        placeholder="Employee ID"
        type="text"
        [appUppercase]="true"
      ></app-ui-form-input>
      <div
        class="error-message"
        *ngIf="authForm.get('employeeId')?.dirty"
        [ngSwitch]="true"
      >
        <div *ngSwitchCase="authForm.get('employeeId')?.errors?.['required']">
          Employee ID is required
        </div>
        <div
          *ngSwitchCase="authForm.get('employeeId')?.errors?.['noWhitespaceValidator']"
        >
          Employee ID cannot contain only whitespace
        </div>
      </div>
      <label>Email</label>

      <app-ui-form-input
        label="Email"
        formControlName="email"
        placeholder="Email"
        type="email"
      ></app-ui-form-input>
      <div
        class="error-message"
        *ngIf="authForm.get('email')?.dirty"
        [ngSwitch]="true"
      >
        <div
          class="error-message"
          *ngSwitchCase="authForm.get('email')?.errors?.['required']"
        >
          Email is required
        </div>
        <div
          class="error-message"
          *ngSwitchCase="authForm.get('email')?.errors?.['email']"
        >
          Invalid Email format
        </div>
      </div>
      <label>Password</label>

      <app-ui-form-input
        label="Password"
        formControlName="password"
        placeholder="Password"
        type="password"
      ></app-ui-form-input>
      <div
        class="error-message"
        *ngIf="authForm.get('password')?.dirty"
        [ngSwitch]="true"
      >
        <div *ngSwitchCase="authForm.get('password')?.errors?.['required']">
          Password is required
        </div>
        <div
          *ngSwitchCase="authForm.get('password')?.errors?.['noWhitespaceValidator']"
        >
          Password cannot contain only whitespace
        </div>
        <div *ngSwitchCase="!!authForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters long
        </div>
      </div>
    </ng-container>
    <button type="submit" [disabled]="!authForm.valid">Register</button>
    <p class="login-main-redirect">
      Already on Insights? <span routerLink="/auth/login">Login here</span>
    </p>
  </form>
</div>
