<div class="app-auth-main">
  <div class="ui-auth-main">
    <div class="ui-auth-features">
      <span class="ui-auth-text"> Featuring </span>
      <p class="ui-auth-text-insights">DarwInsights</p>
      <p class="ui-auth-feature-text">For Darwinbox, by Darwinbox.</p>
    </div>
  </div>
  <div class="router-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
