.app-auth-main {
  display: flex;
  flex-direction: row;
  background-color: var(--gray);
}

.router-wrapper{
  margin: auto;
}

.ui-auth-main {
  display: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #3b82f6;
  height: 100vh;
  width: 50vw;
  user-select: none;
}

.ui-auth-features {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #ffffff;
}

.ui-auth-text {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 9999px;
  font-weight: 500;
  color: #2563eb;
  background-color: #ffffff;
}

.ui-auth-text-insights {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  line-height: 2.5rem;
  color: #ffffff;
}

.ui-auth-feature-text {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #f3f4f6;
}


@media (min-width: 1280px) {
  .ui-auth-features {
    width: 40rem;
  }
}
